body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
}
nav {
  background-color: aquamarine;
  padding: 20px;
  width: 90vw;
}
a {
  margin: 10px;
  text-decoration: none;
  color: aqua;
}
.active {
  color: blueviolet;
  text-shadow: 2px 2px 5px rgb(197, 195, 195);
}
.pet-card {
  border: 2px solid white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.pet-card img {
  height: 100px;
}
